.sidebar {
    height: 100vh;
    background-color: #a6a6a6;
    padding-top: 20px;
}
.chat-list-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
}
.chat-list-item:hover {
    background-color: #c0c0c0;
}